
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1495098997415'); /* IE9*/
  src: url('iconfont.eot?t=1495098997415#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1495098997415') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1495098997415') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1495098997415#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caijian:before { content: "\e600"; }

.icon-qianbi:before { content: "\e630"; }

.icon-wenzi:before { content: "\e61b"; }

.icon-iconfontwancheng:before { content: "\e619"; }

.icon-rounded-corners-stroke1-s40-r08:before { content: "\e622"; }

.icon-tianchong:before { content: "\e680"; }

.icon-wujiaoxing:before { content: "\e63b"; }

.icon-duobianxing:before { content: "\e663"; }

.icon-juxing:before { content: "\e61a"; }

.icon-eraser:before { content: "\e601"; }

.icon-miaobian:before { content: "\e795"; }

.icon-xian:before { content: "\e671"; }

.icon-xuxian:before { content: "\e672"; }

